<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prata&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
    <header>
        <h1>Masthead</h1>
        <nav>
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </nav>
    </header>
    <main>
        <h2>Page Header</h2>
        <br>
    <figure>
        <h3>Section Header</h3>
        <img src="https://dummyimage.com/600x400/000/fff" alt="600x400">
        <aside>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid doloribus eius architecto exercitationem ullam iusto vero dignissimos excepturi magni quod explicabo laudantium, suscipit consectetur nulla fugit. Amet dolor minus excepturi.</p>
            <p>Officia nobis dolores libero voluptatum animi voluptatibus odit et in. Voluptatem deserunt, maxime velit et ipsam eos debitis est! Nam alias soluta assumenda! Optio atque deleniti placeat. Molestiae, quisquam aliquam!</p>
        </aside>
    </figure>
    <br>
    <figure>
        <h3>Section Header</h3>
        <img src="https://dummyimage.com/400x600/000/fff" alt="400x600">
        <aside>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta blanditiis expedita deleniti perferendis aperiam quis, ea iste, nisi, impedit ullam explicabo quasi enim. Deleniti porro enim ullam dolor, ipsa a.</p>
            <p>Quasi minus alias rerum, cum, odio in eius labore facere quam porro ut temporibus consequuntur. Sapiente, vel fuga, blanditiis rerum eligendi deserunt exercitationem recusandae quo quia, adipisci repudiandae unde eos.</p>
        </aside>
    </figure>
    </main>
    <br>
    <footer>
        <p>&copy; Morgan Schill 2024</p>
    </footer>
</div>
</body>
</html>