/*
    primary-color: #9151DB
    Secondary-color: #F5E751
    warning:#F24405
    dark-text: #590202
    light-text: white

    Fonts
    .dm-serif display-regular {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    }

    .dm-serif display-regular-italic {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: italic;
    }


    .work-sans-<uniquifier> {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    }

*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*   my styles   */

body{
    font-family: "Work Sans", sans-serif;
    font-size: x-large;
    line-height: 2;
    background: black;
}

.container{
    width: 80%;
    margin: 10px auto;
    padding: 15px;
    border: 2px solid #18ffff;
}

img{
    width: 40%;
    margin: 15px auto;
}


nav{
    text-align: center;
}

nav a{
    padding: 5px 10px;
    color: white;
    background: #9151DB;
}

h1, h2, h3, h4{
    font-family: "DM Serif Display", serif;
}

/*            Grid Layout       矽  */


.grid-container {
    display: grid; /* this creates a grid layout */
    grid-template-columns: auto auto auto auto auto;
    gap: 10px;
    background-color: black;
    padding: 10px;
}

.grid-container>div {
    background-color: rgba(14, 230, 223);
    text-align: center;
    padding: 20px 0;
    cursor: pointer;
}

.grid-container > div > img{
    width: 90%
}

#large{
    width: 50%;
    display: block;
    margin: 25px auto;
    padding: 20px;
    background: rgb(14, 230, 223);
}