body{
    background-color: rgb(255, 209, 244);
   
}

h1{
    text-align: center;
    color: rgb(255, 208, 234);
}

h2{
    text-align: center;
    color: rgb(128, 4, 60);
}

#art{
    background-image:url("../images/art-background.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#volleyball{
    background-image:url("../images/volleyball-background.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#home{
    background-image:url("../images/home-background.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

nav{
    width: 80%;
    margin: 10px auto;
    text-align:center;
    line-height: 3;
}

nav a{
    text-decoration:none;
    margin-left: 5px;
    background-color: rgb(128, 4, 60);
    padding: 5px 10px;
    color: ivory;
    border: 2px solid rgb(255, 208, 234);
    border-radius: 20px;
}

nav a:hover{
    color:rgb(4, 39, 53);
    background:ivory;
}

img{
    padding: 20px;
    width: 20%;
    display: block;
    margin: 10px auto;
}

.container{
    width: 70%;
    margin: 40px auto;
    border: 7px solid rgb(255, 110, 177);
    padding: 5px;
    background:rgba(255,255,255,.8);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:left;
    border-radius: 20px;
}

#favoritethingsLabel{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(128, 4, 60);
}

#volleyballLabel{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#artLabel{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#float-left img{
    float: left;
    padding-left: 15%;
}

footer{
    padding: 100px;
    text-align: left;
    width: 100%;
}